.scrollbar {
  overflow-y: scroll;
  scroll-behavior: auto;
  overflow-scrolling: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $gray-400;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $gray-700;
    background-image: $gray-700;
  }
}