.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $gray-300;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.nav-action {
  margin-left: auto;
  cursor: pointer;
}

.sb-sidenav-menu-content {
  padding: 0.10rem 1.5rem;

  & .sb-sidenav-menu-item {
    padding: 0.30rem 0.75rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-weight: bold;
    color: $gray-600;
    font-size: 0.85rem;

    & .badge {
      line-height: unset;
    }

    &:hover, &.active {
      background-color: $gray-800;
      border-radius: 0.25rem;
      color: $gray-500;
    }
  }
}

.chat-list {
  background-color: $light;
  border: 1px solid $gray-400;
  border-radius: .35rem;
  flex-wrap: wrap;
  height: calc(100vh - 300px);
  margin-top: .75rem;
  padding: .75rem;

  & .chat-item {
    display: flex;
    flex-direction: row;
    margin: .75rem .50rem;

    & .avatar img {
      height: 42px;
      width: 42px;
      margin-right: .30rem;
      padding-top: .25rem;
    }

    & .chat-message {
      padding-left: .5rem;
      padding-right: .5rem;
      height: auto;

      &.sent {
        border-left: 1.75px solid $warning;
      }

      & > .msg-author {
        margin-bottom: .25rem;
      }
    }
  }
}